services:
	- App\Core\RouterFactory::createRouter

	googleSearchService:
		factory: App\Model\Service\GoogleSearchService(
			%serpApiKey%
		)


search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
